.categoryHolder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.categoryTypes {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 5% 1em;
  padding: 0 1rem;
  border: 2px solid #f2f7f5;
  background: blue;
  border-radius: 1em;
  border-style: ridge;
}
.categoryTypes a {
  color: white;
}


.sidebar {
   position: fixed;
   width: 150px;
   height: 400px;
   background: white;

 }

 .content {
   height: auto;
   width: auto;
   margin-left: 150px;
   position: relative;
   background: none;
   overflow: auto;
   z-index: 1;
 }

 /*.info {
   width: 1440px;
   height: 300px;
   position: relative;
   background: #f55;
 }*/

 @media (min-width:500px) {
   .sidebar {
     width: 250px;
   }
   .content {
     margin-left: 250px;
   }
 }
