.categoryHolder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}
.categoryHolder hr {
    border-color: red;
}
.categoryTypes {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 2% 1em;
  padding: 0 1rem;
  background: white;

}
.categoryName {
  font-size: 2em;
  background: blue;
  border-radius: 3px;
  color: white;
}
.categoryName a {
  color: white;
}
.organizationTypes {
  text-align: justify;
}
.organizationTypes h2 {
  text-align: center;
  /*text-decoration: underline;*/
  border: ridge;
}
.organizationTypes h2 p {
  border: ridge;
}
.organizationTypes img {
  margin-top: 2em;
  max-width: 70%;
  padding: 2em;
}

/*.sidebar {
   position: fixed;
   width: 150px;
   height: 400px;
   background: white;

  }
  .content {
     height: auto;
     width: auto;
     margin-left: 1em;
     position: relative;
     background: none;
     overflow: auto;
     z-index: 1;
   }
   @media (min-width:500px) {
     .sidebar {
       width: 100px;
     }
     .content {
       margin-left: 1em;
     }
   }*/

.fa {
  width: 2em;
}
.fa a:hover {
  text-shadow: 1px 1px 1px #b7b5b5;
}
