.footer {
  width: 90%;
  font-size: 0.8em;
  margin: 2em;
  }
  .footer img {
    max-height: 2.5em;
  }
  .footerItem {
    margin: 3em;
  }

@media (min-width: 500px) {
  .footer img {
    max-height: 3.5em;
  }
  .footerItem {
    margin: 3em;
  }
}
