// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orgLogos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.eachOrganizationIndex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 2% 1em;
  padding: 0 1rem;
  background: white;
}
.eachOrganizationIndex img {
  max-width: 40%;
}
