<div class="header">
  <div id="headerLogo">
    <%= link_to root_path do %>
       <%= image_tag "vn-logo-left.png", alt: "Veteran Nexus", class: "img" %>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to "About", about_path%></li>
      <div class="dropDown">
        <ul>
          <li>
            <a href="#">View Categories</a>
            <ul>
              <li><%= link_to "All Organizations", organizations_path %></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </ul>
  </nav>
</div>
<hr>
<div id="extraHeader">
</div>
